<h1 class="text-center">Edit category</h1>
<div class="container mt-1">
  
  <div class = "row justify-content-center text-white">
    <div class = "col-10">
      <%= render 'form' %>
    </div>
  </div>
</div>